**/target/*
**/bin/*
**/obj/*
**/packages/*
*.bin
*.log
*.vspscc
*.vssscc
**/Cargo.lock
**/Cargo.toml
**/*.tfvars
**/.terraform/**
**/.terraform.lock.hcl/**
**/.vscode/**
**/.idea/**
**/.DS_Store/**
**/.env/**
**/.env.local/**
**/.env.*.local/**
**/*.zip
**/target/debug/